#ifndef ENV_H_
#define ENV_H_

/*

It is a sample file for configuration.
Make a copy of this file to name Env.h
And edit your configuration value in it.

*/

// WiFi settings
#ifndef WIFI_SSID
#define WIFI_SSID       "YOUR_WIFI_SSID"
#define WIFI_PASSWORD   "YOUR_WIFI_PASSWORD"
// If you have another point, uncomment below two lines.
//#define WIFI_SSID2       "YOUR_WIFI_SSID2"
//#define WIFI_PASSWORD2   "YOUR_WIFI_PASSWORD2"
// If you have more points, repeat WIFI_SSID3 and WIFI_PASSWORD3, 4, 5 ...
#endif

// VoiceText Web API setting
#ifndef TSS_API_KEY
#define TSS_API_KEY     "YOUR_TSS_API_KEY"
#define TSS_VOLUME      "200"
#endif

// Time Announcement
#ifndef TIME_ANNOUNCE_INTERVAL
#define TIME_ANNOUNCE_INTERVAL     10   // min
#endif


#endif  // ENV_H_
